<ngx-page-ribbon></ngx-page-ribbon>
<!-- Header. -->
<div>
    <router-outlet name="header"></router-outlet>
</div>
<!-- /.Header -->
<!-- Left side column. contains the logo and sidebar -->
<div>
    <router-outlet name="sidebar"></router-outlet>
</div>
<!-- /.Left side column -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
</div>
<!-- /.content-wrapper -->
<!-- Footer -->
<div>
    <router-outlet name="footer"></router-outlet>
</div>
<!-- /.Footer -->
<!-- Control Sidebar -->
<div>
    <router-outlet name="control"></router-outlet>
</div>
<!-- /.control-sidebar -->
